<?xml version="1.0" encoding="UTF-8"?>
	<launch>
	  <rosparam file="$(find my_snake_robot)/config/snake_robot_control.yaml" command="load"/>

	  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	    output="screen" ns="/snake_robot" args="joint0_position_controller joint_state_controller"/>

	  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	    respawn="false" output="screen">
	    <remap from="/joint_states" to="/snake_robot/joint_states" />
	  </node>

	</launch>